<h1 class="title is-1 has-text-centered">Other Expenses</h1>
<div class="container">
  <div class="column">
    <form ng-submit="createExpense()">
      <div class="field">
        <label for="type">Type</label>
        <input ng-model="expense.type" type="text" name="type" class="input" placeholder="e.g. Coffee">
      </div>
      <div class="field">
        <label for="cost">Price</label>
        <input ng-model="expense.cost" type="text" name="cost" class="input">
      </div>
      <div class="field">
        <label for="merchant">Vendor</label>
        <input ng-model="expense.merchant" type="text" name="merchant" class="input" placeholder="e.g. Black Sheep Coffee">
      </div>
      <div class="field">
        <label for="location">Location</label>
        <input ng-model="expense.location" type="text" name="location" class="input" placeholder="e.g. Aldgate East">
      </div>
      <div class="field">
        <label for="repeat">Is this a regular cost?</label>
        <input ng-model="expense.repeat" type="text" name="repeat" class="input">
      </div>
      <div class="field">
        <label for="vital">Did you really need it?</label>
        <input ng-model="expense.vital" type="text" name="vital" class="input">
      </div>
      <button class="buttons-l button is-info is-large">Submit expense</button>
    </form>
    <button class="buttons-l button is-info is-large">Barcode Scanner</button>
  </div>
</div>
{{ expenses.length }}
