<h1 class="state-title">Take a closer look</h1>
<hr>
<div class="columns is-multiline is-mobile is-centered">
  <div class="column is-full detail-green">
    <p class="show-detail-white">On: {{ expense.createdAt }}</p>
    <p class="show-detail-white">You bought: {{ expense.type }}</p>
    <p class="show-detail-green">For: £{{ expense.cost }}</p>
    <p class="show-detail-white">From: {{ expense.merchant }}</p>
  </div>
  <div class="column">
    <button class="button is-info" ui-sref="expensesEdit({ id: expense._id })">Edit this expense</button>
  </div>
  <div class="column">
    <button class="button is-danger" ng-click="deleteExpense()">Delete</button>
  </div>
</div>
