<h2 class="title is-2">Get somewhere</h2>

<form class="locationInput" action="index.html" method="post">
  <div class="field">
    <label class="label">From</label>
    <input class="input" type="text" name="startPoint" value="Current Location" readonly>
  </div>
  <div class="field">
    <label class="label">To (Postcode)</label>
    <input ng-model="endPoint" class="input" type="text" name="endPoint" placeholder="eg: E1 7PT">
  </div>
  <button class="button" type="button" name="button" ng-click="generateOptions()">Go</button>
</form>

<div class="card journeyCard" ng-if="priceUberPool && busDuration">
  <div class="card-content">


    <h4 class="title is-4" style="color: white">Your options are</h4>

    <div class="columns is-multiline is-mobile">

      <div class="column is-6">Bus</div>
      <div class="column is-6">£{{ busCost }} - {{ busDuration }} mins</div>

      <div class="column is-6">Bike</div>
      <div class="column is-6">£{{ bikeCost }} - {{ bikeDuration }} mins</div>

      <div class="column is-6">Tube</div>
      <div class="column is-6">£{{ tubeCost }} - {{ tubeDuration }} mins</div>

      <div class="column is-6">UberPool</div>
      <div class="column is-6">£{{ priceUberPool }} - {{  timeUberPool }} mins</div>

      <div class="column is-6">UberX</div>
      <div class="column is-6">£{{ priceUberX }} - {{ timeUberX }} mins</div>
    </div>
  </div>
</div>
