<h2 class="state-title">Get somewhere</h2>

<form class="locationInput" action="index.html" method="post">
  <div class="field">
    <label class="form-input-text label">From</label>
    <input class="input" type="text" name="startPoint" value="Current Location" readonly>
  </div>
  <div class="field">
    <label class="form-input-text label">To (Postcode)</label>
    <input ng-model="endPoint" class="input" type="text" name="endPoint" placeholder="eg: E1 7PT">
  </div>
  <button class="button" date-target="pageloader" type="button" name="button" ng-click="generateOptions()">Go</button>
</form>

<div class="column is-9-mobile loadingDiv content has-text-centered" ng-if="isClicked && !uberXDuration && !uberPoolDuration && !busDuration">
  <div class="button is-loading loadingButton"></div>
</div>


<div class="columns" ng-if="uberPoolCost && busDuration">
  <h4 class="subtitle-text-green topmargin">Your options are:</h4>
  <hr>
  <!-- <div class="busDiv" ng-click="deductJourney($event)"> -->
  <div class="columns is-multiline is-mobile">
    <div class="show-detail-white column is-4 bus" ng-click="deductJourney($event)">Bus</div>
    <div class="show-detail-orange column has-text-centered is-4 bus" ng-click="deductJourney($event)">£{{ busCost }}</div>
    <div class="show-detail-orange column has-text-centered is-4 bus" ng-click="deductJourney($event)">{{ busDuration }} mins</div>
  </div>
  <!-- </div> -->
  <div class="columns is-multiline is-mobile">
    <div class="show-detail-white column is-4 bike" ng-click="deductJourney($event)">Bike</div>
    <div class="show-detail-orange column has-text-centered is-4 bike" ng-click="deductJourney($event)">£{{ bikeCost }}</div>
    <div class="show-detail-orange column has-text-centered is-4 bike" ng-click="deductJourney($event)">{{ bikeDuration }} mins</div>
  </div>
  <div class="columns is-multiline is-mobile">
    <div class="show-detail-white column is-4 tube" ng-click="deductJourney($event)">Tube</div>
    <div class="show-detail-orange column has-text-centered is-4 tube" ng-click="deductJourney($event)">£{{ tubeCost }}</div>
    <div class="show-detail-orange column has-text-centered is-4 tube" ng-click="deductJourney($event)">{{ tubeDuration }} mins</div>
  </div>
  <div class="columns is-multiline is-mobile">
    <div class="show-detail-white column is-4 uberPool" ng-click="deductJourney($event)">UberPool</div>
    <div class="show-detail-orange column has-text-centered is-4 uberPool" ng-click="deductJourney($event)">£{{ uberPoolCost }}</div>
    <div class="show-detail-orange column has-text-centered is-4 uberPool" ng-click="deductJourney($event)">{{ uberPoolDuration }} mins</div>
  </div>
  <div class="columns is-multiline is-mobile">
    <div class="show-detail-white column is-4 uberX" ng-click="deductJourney($event)">UberX</div>
    <div class="show-detail-orange column has-text-centered is-4 uberX" ng-click="deductJourney($event)">£{{ uberXCost }}</div>
    <div class="show-detail-orange column has-text-centered is-4 uberX" ng-click="deductJourney($event)">{{ uberXDuration }} mins</div>
  </div>

</div>
