<h2 class="title is-2">Get somewhere</h2>

<form class="locationInput" action="index.html" method="post">
  <div class="field">
    <label class="label">From</label>
    <input class="input" type="text" name="startPoint" value="Current Location" readonly>
  </div>
  <div class="field">
    <label class="label">To (Postcode)</label>
    <input ng-model="endPoint" class="input" type="text" name="endPoint" placeholder="eg: E1 7PT">
  </div>
  <button class="button" type="button" name="button" ng-click="generateOptions()">Go</button>
</form>

<h4 class="title is-4">Your options are</h4>
