<h2 class="title is-2">Welcome {{ user.firstName }}</h2>
<h4 class="title is-4">Your budget is</h4>
<h1 class="title is-1">£{{ user.dailyBudget }}</h1>

<div class="columns is-centered">
  <div class="column has-text-centered">
    <button type="button" class="button is-fullwidth is-rounded is-link">Plan my journey</button>
  </div>
  <div class="column has-text-centered">
    <button type="button" class="button is-fullwidth is-rounded is-link">Find me food</button>
  </div>
  <div class="column has-text-centered">
    <button type="button" ui-sref = "expensesNew" class="button is-fullwidth is-rounded is-link">Add an expense</button>
  </div>
</div>
