
<form ng-submit="updateGoal()">

  <div class="field">
    <label for="name">Name</label>
    <input ng-model="goal.name" class="input" type="text" name="name" placeholder="">
  </div>

  <div class="field">
    <label for="cost">How much does it cost?</label>
    <input ng-model="goal.cost" class="input" type="number" name="age" placeholder="">
  </div>

  <div class="field">
    <label for="deadline">When do you want to achieve your goal by?</label>
    <input ng-model="goal.deadline" class="input" type="text" name="deadline" placeholder="">
  </div>

  <div class="field">
    <label for="alreadySaved">How much have you already saved?</label>
    <input ng-model="goal.alreadySaved" class="input" type="number" name="alreadySaved" placeholder="">
  </div>

  <div class="field">
    <label for="imageUrl">Image? (URL)</label>
    <input ng-model="goal.imageUrl" class="input" type="text" name="imageUrl" placeholder="">
  </div>

  <div class="field">
    <label for="websiteUrl">What website can you buy it from? (URL)</label>
    <input ng-model="goal.website" class="input" type="number" name="websiteUrl" placeholder="">
  </div>

  <button class="button" name="button">Save</button>
</form>
