<div class="columns is-multiline is-mobile">
  <div class="state-title column is-10">You have {{ goals.length}} goals</div>
  <div class="column is-2">
    <div class="button is-info" ui-sref="goalsNew"><i class="fas fa-plus-circle"></i></div>
  </div>
</div>
<div class="container">
  <div class="" ng-repeat="goal in goals | orderBy : 'createdAt'">
    <div class="card-content">
      <a ui-sref="goalsShow({ id: goal._id })">
        <h2 class="subtitle-text-green">{{ goal.name }}</h2>
        <div class="columns is-mobile">
          <div class="column is-6">
            <img style="max-height: 200px" ng-src="{{ goal.imageUrl }}" alt="{{ goal.name }}">
          </div>
          <div class="column is-6">
            <p class="show-detail-orange">Cost: £{{goal.cost}}</p>
            <p class="show-detail-orange">Saved: £{{goal.alreadySaved}}</p>
          </div>
        </div>
        <progress class="progress is-primary" value="{{goal.progress}}" max="100">{{goal.progress}}%</progress>
        <p class="show-detail-orange">{{goal.progress}}% to your goal!</p>
        <p class="show-detail-orange">Deadline: {{goal.deadline}}</p>
      </a>
      <hr>
    </div>
  </div>
</div>
