<div class="w3-container w3-center w3-animate-right w3-hover-shadow">
  <div class="profile-details">
    <img class="image is-128x128 profilePic"src="{{ user.profilePicUrl }}" alt="">
    <h1 class="title is-1">{{ user.firstName }} {{ user.lastName }}</h1>
    <h6 class="subtitle is-6">User since {{ user.createdAt.slice(8,10) }}/{{ user.createdAt.slice(5,7) }}/{{ user.createdAt.slice(0,4) }}</h6>
    <button class="button is-warning is-small" name="button" ui-sref="profileEdit({ id: user._id })">Edit Profile</button>
  </div>
  <div class="columns">
    <div class="column">
      <h4 class="title is-4">You've saved £{{ mySavings }}!</h4>
    </div>
    <div class="column">
      <button class="button is-fullwidth is-rounded is-link" name="button" ui-sref="goalsIndex">Your Goals 🎯</button>
    </div>
    <div class="column">
      <button class="button is-fullwidth is-rounded is-link" name="button" ui-sref="expensesHistory">View spending history</button>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h3 class="title is-3">View your savings pot from Monzo</h3>
      <button class="button" name="button" ng-click="goToLogin()">Sign in to Monzo</button>
      <button class="button" name="button" ng-click="fetchMonzo()">Update</button>
      <button class="button" name="button" ng-click="moveSavings()">Move savings to pot</button>
    </div>
  </div>

  <div class="columns is-multiline monzoDetails">
    <div class="card potsCard" ng-repeat="pot in monzoPots">
      <div class="card-content" ng-if="!pot.deleted">
        {{ pot.name.toUpperCase() }} – £{{ (pot.balance/100).toFixed(2) }}
      </div>
    </div>
  </div>
</div>i
