
html {
  background-color: #002d56;
}

// Navbar styling

.navbar {
  background: #002d56; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4d5054, #002d56);
  margin: none;
}

.nav-title {
  color: white !important;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.navbar-menu {
  background: #002d56; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4d5054, #002d56);
  margin: none;
  z-index: 1;
  .navbar-end a {
    color: white;
    background: #002d56; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4d5054, #002d56);
    margin: none;
    font-weight: bold;
  }
}

.burger-menu {
  color: #67bde2 !important;
}


 // Generic styles across the app

.state-title {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  color:white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

//

.subtitle-text-red {
  font-family: 'Rubik', sans-serif;
  color: #ea4c89;
  font-size: 21px;
  font-weight: bold;
}



.profilePic {
  border-radius: 25px;
}

.profile-info-text {
  color: #ffb942 !important;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  }

.profile-name {
  // inherit profile-info-text
  margin-bottom: none !important;
  font-size: 20px;
}

.amount-saved {
  color: white;
}







.expense-title {
  color: #ffb942;
}

// #myChart-img {
//   display: flex;
//   justify-content: center;
// }

.expense {
  color: white;
}

.login-about {
  color: #10f785;
}

.form-input-text {
  color: #ffb942;
}

.button {
  background-color: #ea4c89 !important;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 25px;
}

.buttons-l {
  margin-top: 20px;
}

.budget-title {
  font-size: 70px;
  font-weight: 500;
  color: #ffb942;
}

.dashBudget input {
  border: none;
  color: #ea4c89;
  background-color: inherit;
}

.dashBudget input:focus {
  outline: none;
}

.loadingButton {
  border: none;
  height: 0px !important;
  width: 0px !important;
  padding: 0px !important;
}

.button.is-loading::after, .select.is-loading::after, .control.is-loading::after, .loader {
  border: 42px solid rgba(16, 247, 133, 0.6);
  border-radius: 20px;
}

.loadingDiv{
  justify-content: center;
}

.profile-details {
  margin-bottom: 40px;
}

.profilePic {
  margin-bottom: 15px;
}

.dashButtons {
  margin-top: 20px;
}

.journeyCard {
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: white;
  font-weight: 400;
}
.goalCard {
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(190deg, #000 0%, #FFF 100%);
  color: white;
  font-weight: 400;
  color: yellow;
}

.potsCard {
  margin: 20px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  font-size: 20px;
  font-weight: 800px;
  color: white;
}

.map {
  height: 250px;
  max-width: 100%;
  border: 1px solid black;
  padding: none;
}


@media screen and (max-width: 768px) {
  .content-body{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
  }
}
