html {
  background-color: #002d56;
}

hr {
  background-color: #435363;
}
// Navbar styling


.navbar {
  background: #002d56; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4d5054, #002d56);
  margin: none;
}

.navbar-item {
  background: none !important;
}

.nav-title {
  font-family: 'Rubik', sans-serif;
  color: white !important;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.navbar-menu {
  background: #002d56; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4d5054, #002d56);
  margin: none;
  z-index: 1;
  .navbar-end a {
    font-family: 'Rubik', sans-serif;
    color: #ffb942;
    background: #002d56; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4d5054, #002d56); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4d5054, #002d56);
    margin: none;
    font-weight: bold;
  }
}

.burger-menu {
  color: #67bde2 !important;
}


 // Generic styles across the app

.state-title {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  color:white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

//

.subtitle-text-red {
  font-family: 'Rubik', sans-serif;
  color: #ea4c89;
  font-size: 21px;
  font-weight: bold;
}

.subtitle-text-orange {
  font-family: 'Rubik', sans-serif;
  color: #ffb942;
  font-size: 21px;
  font-weight: bold;
}

.subtitle-text-green {
  font-family: 'Rubik', sans-serif;
  color: #10f785;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


.show-detail-green {
  font-family: 'Rubik', sans-serif;
  color: #10f785 !important;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height:40px;
}

.show-detail-white {
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height:40px;
}

.show-detail-orange {
  font-family: 'Rubik', sans-serif;
  color: #ffb942;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height:40px;
}

.detail-background {
  // box-sizing: content-box;
  // background-color: #1c3855 !important;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}


.profilePic {
  border-radius: 25px;
}

.profile-info-text {
  color: #ffb942 !important;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  }

.profile-name {
  // inherit profile-info-text
  margin-bottom: none !important;
  font-size: 20px;
}

.amount-saved {
  color: white;
}

.restaurant-title {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #10f785;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.restaurant-info {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #ea4c89;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.restaurant-show-title {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #ffb942;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}






.expense-title {
  color: #ffb942;
}

.expense {
  color: white;
}

.login-about {
  color: #10f785;
}

.form-input-text {
  color: #ffb942;
  font-weight: bold;
}

.button {
  background-color: #ea4c89 !important;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 25px;
}

.buttons-l {
  margin-top: 20px;
}

.budget-title {
  font-size: 70px;
  font-weight: 500;
  color: #ffb942;
}

.dashBudget input {
  border: none;
  color: #ea4c89;
  background-color: inherit;
}

.dashBudget input:focus {
  outline: none;
}

.loadingButton {
  border: none;
  height: 0px !important;
  width: 0px !important;
  padding: 0px !important;
}

.button.is-loading::after, .select.is-loading::after, .control.is-loading::after, .loader {
  border: 42px solid rgba(16, 247, 133, 0.6);
  border-radius: 20px;
}

.loadingDiv{
  justify-content: center;
}

.profile-details {
  margin-bottom: 40px;
}

.profilePic {
  margin-bottom: 15px;
}

.dashButtons {
  margin-top: 20px;
}

.potsCard {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  margin: 20px;
  background: #002d56;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #17788a, #e4495f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #17788a, #e4495f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  font-size: 20px;
  font-weight: 800px;
  color: white;
}

.potsCard a {
  color: white;
}

.topmargin {
  margin-top: 35px;
}

.bottommargin {
  margin-bottom: 35px;
}

.map {
  height: 250px;
  max-width: 100%;
  border: 1px solid black;
  padding: none;
  z-index: 0;
}


@media screen and (max-width: 768px) {
  .content-body{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
  }
}
