.buttons-l {
  margin-top: 20px;
}

.budget-title {
  font-size: 70px;
  font-weight: 500;
}

.dashBudget input {
  border: none;
}

.dashBudget input:focus {
  outline: none;
}

.profile-details {
  margin-bottom: 40px;
}

.profilePic {
  margin-bottom: 15px;
}

.dashButtons {
  margin-top: 20px;
}

.journeyCard {
  margin-top: 20px;
  margin-left: 10px;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  color: white;
  font-weight: 400;
}

.potsCard {
  margin: 20px;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  font-size: 20px;
  font-weight: 800px;
  color: white;
}

.map {
  height: 250px;
  max-width: 100%;
  border: 1px solid black;
  padding: none;
}

@media screen and (max-width: 768px) {
  .content-body{
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
  }
}
